body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #a5d4f0, #eda8d2);
}
.tela-login{
    background-color: rgba(255, 255, 255, 0.5);
    position:absolute;
    text-align:center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px whitesmoke;
    color: rgb(123, 197, 240);
}
input{
    padding: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    transition: 0.3s;
}
input:focus {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgb(252, 200, 232);
    transition: 0.3s;
}
button{
    background-color:rgb(139, 206, 245);
    border: none;
    outline: none;
    padding: 16px;
    width: 100%;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    transition: 0.6s;
}
button:hover{
    opacity: 1;
    background-color:rgb(231, 171, 243);
    cursor: pointer;
    transition: 0.6s;
}
a{
    text-decoration: none;
    color: rgb(123, 197, 240);
    font-size: 15px;
    transition: 0.3s;
    font-weight: bold;
}
a:hover{
    opacity: 1;
    color: rgb(231, 171, 243);
    transition: 0.3s;
}

.bemvindo{
    font-size: 30px;
    color: rgb(123, 197, 240);
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
}